@font-face {
    font-family: 'Cheltenham';
    src: url('fonts/Cheltenham Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), local('Times New Roman'), serif;
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #FFFCEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

iframe {
    display: block;    
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header img.responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 200px; 
    width: auto;
}

.home-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #FFFCEB;
    position: relative;
    z-index: 1;
}

.logo-image {
    max-width: 150px;
    height: auto;
}

.intro {
    font-size: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons a {
    font-size: 35px;
    color: black;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin: 20px;
    background-position: bottom;
    position: fixed; 
    bottom: 0;   
    left: 100;     
}

.responsive-image-footer {
    max-height: 10vw;
    max-width: 40vw;
    height: auto;
    width: auto;
}

/* Project Sections */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.projects-title {
    font-family: 'Cheltenham', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: black;
    text-align: left;
    margin-bottom: 40px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.project-content {
    flex: 1;
    margin-right: 20px;
}

.project-header {
    font-family: 'Cheltenham', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgb(38, 82, 186);
    display: block;
    margin-bottom: 10px;
}

.project-header a {
    font-size: 24px;
    text-decoration: none;
}

.project-header a:hover {
    text-decoration: underline;
}

.project-header a:visited {
    color: #0066cc; /* Visited link color */
}

.project-description {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

.project-image {
    max-width: 275px;
    height: auto;
    border: 1.5px solid #555;
}

.project-body {
    margin: 20px 0;
    text-indent: 20px;
    line-height: 1.5;
}
.centered-image {
    display: block;    
    margin-left: auto; 
    margin-right: auto;
}
.back-to-projects {
    font-family: 'Cheltenham', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: -50px;
}

.back-to-projects a {
    font-size: 18px;
    text-decoration: none;
}

.back-to-projects a:hover {
    text-decoration: underline;
}

.back-to-projects a:visited {
    color: #0066cc; /* Visited link color */
}