@font-face {
    font-family: 'Cheltenham';
    src: url('fonts/Cheltenham Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), local('Times New Roman'), serif;
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #FFFCEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.icon-image {
    max-width: 25px;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;    
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header img.responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 200px; 
    width: auto;
}

.home-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #FFFCEB;
    position: relative;
    z-index: 1;
}

.logo-image {
    max-width: 150px;
    height: auto;
}

.intro {
    font-size: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.buttons a {
    font-size: 35px;
    color: black;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin: 20px;
    background-position: bottom;
    position: fixed; 
    bottom: 0;   
    left: 100;     
}

.responsive-image-footer {
    max-height: 10vw;
    max-width: 40vw;
    height: auto;
    width: auto;
}

/* Project Sections */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.projects-title {
    font-family: 'Cheltenham', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: black;
    text-align: left;
    margin-bottom: 40px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.project-content {
    flex: 1;
    margin-right: 20px;
}

.project-header {
    font-family: 'Cheltenham', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: rgb(38, 82, 186);
    display: block;
    margin-bottom: 10px;
}

.project-header a {
    font-size: 24px;
    text-decoration: none;
}

.project-header a:hover {
    text-decoration: underline;
}

.project-header a:visited {
    color: #0066cc; /* Visited link color */
}
.tag-container {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #e8e8e8;
    color: #333;
    font-size: 14px;
    font-family: 'Georgia', serif;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.project-description {
    font-family: 'Georgia', serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

.project-image {
    max-width: 275px;
    height: auto;
    border: 1.5px solid #555;
}

.project-body {
    margin: 20px 0;
    text-indent: 20px;
    line-height: 1.5;
}
.centered-image {
    display: block;    
    margin-left: auto; 
    margin-right: auto;
}
.back-to-projects {
    font-family: 'Cheltenham', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: -50px;
}

.back-to-projects a {
    font-size: 18px;
    text-decoration: none;
}

.back-to-projects a:hover {
    text-decoration: underline;
}

.back-to-projects a:visited {
    color: #0066cc; 
}

/* SLIDESHOW */
* {box-sizing:border-box}

.slideshow-container {
    max-width: 500px; 
    max-height: 500px;
    position: relative;
    margin: auto;
    background-color: black;
    overflow: hidden;
  }
  
.dot-container {
    text-align: center;
    position: absolute;
    bottom: -1.5px; /* Adjust as needed */
    width: 100%;
    z-index: 10; /* Ensure dots appear on top */
}

.mySlides {
    display: none;
}

.slideshow-img {
    width: 500px;
    height: 500px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;  
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    font-family: 'Georgia', serif;
    color: #f2f2f2;
    background-color: #203354a7;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.numbertext {
    font-family: 'Georgia', serif;
    color: #f2f2f2;
    background-color: #203354a7;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin:  2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
    background-color: #f1eaea;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
}